 
    body{
      background:url("/static/img/bg.jpeg") no-repeat fixed !important;
      background-size:cover !important;
    }
    
   
   .navbar-brand,.nav-link,.custom-font-size{
     font-size:1.5rem !important;
   }
   
   .navbar,.custom-bg{
     background:black !important;
   }
   
   .custom-text,th{
     color:lightgreen !important;
     font-size:1.3em !important;
     word-wrap:break-all !important;
   }
   
   .custom-border{
     border:2px solid lightgreen !important;
   }
   
   .custom-divider{
     border-top:1px solid lightgreen !important;
   }
   
   .modal-header{
     border-bottom:1px solid lightgreen !important;
   }
   
   .btn{
     border:0px solid lightgreen !important;
     background:lightgreen !important;
     color:black !important;
     font-size:1.2rem !important;
   }
   
   .custom-card-img{
     width:90%;
     height:18%;
     margin:0 auto;
   }
   
   .custom-slide-img{
     height:25rem !important;
   }
   
   .custom-form-font,td{
     color:lightgreen !important;
     font-size:1.2em !important;   
     word-wrap: break-word !important;
   }
   
   .custom-submit-btn{
     font-size:1.2rem !important;
     display:table;
     margin:0 auto;
   }
   
   .custom-total-money{
     background-color:#212528 !important;
     word-wrap: break-word !important;
     color:lightgreen !important;
     font-size:2rem !important;   
   }
   
   .custom-btn{
     background-color:yellow !important;
     word-break:break-all !important;
   }
   
   .custom-active{
      color:yellow !important;
   }
   
   .custom-login-con{
        position:relative !important;
        top:20vw !important;
   }
   
   .custom-banner{
     position:relative !important;
     bottom:5vw !important;
     word-wrap: break-word !important;
     color:lightgreen !important;
     font-size:3rem !important; 
     font-weight:400 !important; 
     text-align:center !important;
   }
   
   .custom-card{
     /*position:relative !important;
     overflow:hidden !important;*/
   }
   
   .custom-left{
     width:19rem !important;
     position:absolute !important;
     left:0 !important;
   }