<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstarp/bootstrap.min.css">
    
   <link rel="stylesheet" href="/static/css/style.css">
    <title>Money</title>
    
   <style>

  /*main*/
   </style>
    
  </head>
  
  <body>
  <!--Navbar starts-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand custom-text" href="/home/">
    <img src="/static/img/ai2.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    Avunix
  </a>
  <button class="navbar-toggler custom-text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link custom-text" href="/home/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link custom-text dropdown-toggle custom-active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu custom-bg custom-border" aria-labelledby="navbarDropdown">
          <a class="dropdown-item custom-text custom-active" href="/money/">Money recoder</a>
          <div class="dropdown-divider custom-divider"></div>
          <a class="dropdown-item custom-text" href="/reminder/">Reminder</a>
          <div class="dropdown-divider custom-divider"></div>
          <a class="dropdown-item custom-text" href="/trace/">Traceoute</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-text" href="/certificate/">Certificate <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item">
        <a class="nav-link custom-text" href="/chatroom/">Chat Room <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
  <!-- Button trigger modal -->
<a type="button" class="nav-link custom-text" data-toggle="modal" data-target="#exampleModal">
  Logout
</a>
      </li>      
    </ul>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-bg custom-border">
      <div class="modal-header">
        <h5 class="modal-title custom-text" id="exampleModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-text">
        Logout if you want . Don't worry about data and records.
      </div>
      <div class="modal-footer custom-divider">
        <button type="button" class="custom-modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="button" href="/logout/" class="custom-modal-btn btn btn-primary">Logout me</a>
      </div>
    </div>
  </div>
</div>
</nav>
<!--Navbar ends-->

<!--Form starts-->
<div class="container custom-bg custom-border py-2 my-3">

<p>

  <button class="btn" type="button" data-toggle="collapse" data-target="#collapseMoney" aria-expanded="false" aria-controls="collapseExample">
    Add money
  </button>
</p>
<div class="collapse" id="collapseMoney">
  <div class="card card-body custom-bg custom-border">
  
  <div class="row justify-content-center">
 
  <form action="/money/single/{{table_name_id}}/" method="post">
  <div class="form-group row">
    <div class="col-sm-4">
      <input  type="datetime-local" class="form-control custom-bg custom-form-font custom-border" id="inputBookName" name="date" required>
    </div>
    
    <div class="col-sm-4 mt-1">
      <input type="number" class="form-control custom-bg custom-form-font custom-border" id="inputBookName" placeholder="Enter the amount..." name="amount" required>
    </div>
    
    <div class="col-sm-4 mt-1">
     <select class="custom-select my-1 mr-sm-2 custom-bg custom-form-font custom-border" id="inlineFormCustomSelectPref" name="status">
    <option value="0" style="color:yellow;" selected>Plus</option>
    <option value="1" style="color:orange;">Minus</option>
  </select>
    </div>    
    
  </div>
  
  <div class="form-group row">
    <div class="col-sm-12">
      <textarea class="form-control  custom-bg custom-form-font custom-border" id="inputAuthorName"  placeholder="Type the matter..." name="about"required></textarea>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary center-inline custom-submit-btn" id="action-on-press">Save Change</button>
    </div>
  </div>
</form>    
      
      
  </div>
 </div>
</div>

</div>
<!--Form ends-->



<!--table name starts-->
<div class="container custom-bg custom-border py-2 my-3">

  <p>
  
    <button class="btn" type="button" expanded="true">
      Money collection
    </button>
  </p>
    <div class="card card-body custom-bg custom-border">
    
    <div class="row justify-content-center">
        <p class="card-text custom-text" style="color:yellow !important;">{{fetch_table_name}}</p>
    </div>
   </div>
  
  
  </div>
  <!--table name ends-->


<!--Signature starts-->
<div class="container custom-bg custom-border py-2 my-3">

<p>

  <button class="btn" type="button" expanded="true" id="signature-get-btn">
    Signature
  </button>
</p>
  <div class="card card-body custom-bg custom-border">
  
  <div class="row justify-content-center" id="show-signature">
      <p class="card-text custom-text">Opetation has not started yet .</p>
  </div>
 </div>


</div>
<!--Signature ends-->


<!--Validation starts-->
<div class="container custom-bg custom-border py-2 my-3">

<p>

  <button class="btn" type="button" expanded="true" id="block-check-btn">
    Check Validation
  </button>
</p>
  <div class="card card-body custom-bg custom-border">
  
  <div class="row justify-content-center" id="block-validation">
      <p class="card-text custom-text" id="total">Opetation has not started yet .</p>
  </div>
 </div>


</div>
<!--Validation ends-->


<!--Total money start-->  
<div class="container custom-bg custom-border py-2 my-3" id="money-total">
<button type="button" class="btn btn-primary custom-submit-btn custom-total-money">Total tt0 -/tk</button>
</div>
<!--Total money end-->     

  <p id="table_name_id" table-id-value="{{table_name_id}}"></p>

<!--Table of money starts-->
<div class="container custom-bg custom-border my-3">
<div class="table-responsive">
<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">About</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Enter</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
 
  <tbody>
  </tbody>
</table>
</div>
</div>
<!--Table of money ends-->
   
  
  <script src="/static/js/bootstarp/jquery-3.5.1.slim.min.js" ></script>
    <script src="/static/js/bootstarp/popper.min.js" ></script>
     <script src="/static/js/bootstarp/bootstrap.min.js"></script>
  
  <script type="text/javascript">
  
    try{
  
    function create_time(date){
    
    let date2=date.split(" ")[1];
    
    let hour=date2.split(":")[0];
    
    let minut=date2.split(":")[1];
    
    let format="AM";
		
	if(hour>=12 ){
	
		format="PM"
		hour-=12
		
		if(hour>0 && hour<1){
		hour=hour+12
      	}
	
    }
    
    if(hour.length==1){
    
       hour="0"+String(hour);   
    
    }
    
    let result=`${hour}:${minut} ${format}`;
    
   return result;

    }
    
    function create_date(date){
    
    let date2=date.split(" ")[0]
    
    return date2
   
   }
      
  function money_lister(row){
  
  let total=0;
  
  let tr1=document.querySelector("#money-total > button")
   
  let tr2=document.querySelector(".table>tbody");

  let html_tr_code=` `;
  
  row.forEach((element)=>{
  
  let about=element[0];
  let entered=element[1];
  let date=create_date(element[2]);
  let time=create_time(element[2]);  
  let status=element[3];
  let amount=element[4];
  let style_status="";
  let status_text="";
  
  if(status=="0"){
  total+=Number(amount);
  style_status+=`style="color:yellow !important;"`;
  status_text+="Plus";
  }
  
  if(status=="1"){
  total-=Number(amount);
  style_status+=`style="color:orange !important;"`;
  status_text+="Minus";
  }

 html_tr_code+=`
 
   <tr>
    <td>${about}</td>
    <td>${amount}</td>
     <td ${style_status}>${status_text}</td>
   <td>${entered}</td>
     <td>${date}</td>
    <td>${time}</td>
   </tr>
 
 `; 
 
    
  });
  
  
   tr1.innerHTML=`Total : ${total}  -/TK`;
  
    tr2.innerHTML=html_tr_code;
    
  }

  let table_name_id=document.getElementById("table_name_id").getAttribute("table-id-value")
  
  async function getData(url){
  
  let params={method:"post"};
  
  const domain=await fetch(url,params);
  
  let data = await domain.json();
  
  return data.data;
  
  }
  
  getData(`/money/single/data/`+table_name_id+`/`).then((data)=>{
  
  let mul_data=data.slice(0,data.length-1)
  
  console.log(mul_data)
  
   money_lister(mul_data);
  
  }).catch(()=>{
  
  alert("There is a problem in your network");
  
  });
  
  /*block-validation started*/
  
  let block_check=document.getElementById("block-validation");

  let block_check_btn=document.getElementById("block-check-btn");
  
  block_check_btn.addEventListener("click",()=>{
  
  block_check.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:orange !important;">Operation has started . Wait for a while .......</p>`;
 
  getData(`/money/single/validation/`+table_name_id).then((data)=>{
  
     if(data=="true"){
     
  block_check.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:yellow !important;">Your block is valid</p>`;
           
     }
     
   if(data=="false"){
  block_check.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:red !important;">Your block is invalid</p>`;
                
     }
  
  }).catch(()=>{
  
  block_check.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:red !important;">You have some trouble . Try again .</p>`;
        
  });
  
  });
  
   /*block-validation end*/
   
   
  /*getting show-signature started*/
  
  let get_signature=document.getElementById("show-signature");

  let get_signature_btn=document.getElementById("signature-get-btn");
  
  get_signature_btn.addEventListener("click",()=>{
  
  get_signature.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:orange !important;">Operation has started . Wait for a while .......</p>`;
 
  getData(`/money/single/signature/`+table_name_id+`/`).then((data)=>{
  
     
  get_signature.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:yellow !important;">${data}</p>`;
     

  
  }).catch(()=>{
  
  block_check.innerHTML=`
      <p class="card-text custom-text" id="total" style="color:red !important;">You have some trouble . Try again .</p>`;
        
  });
  
  });
  
   /*getting show-signature end*/
  
    }
    
    catch(a){
    alert(a.name+" "+a.message)
    }  

 </script>

  
  </body>
  
</html>
	