<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
   <link rel="stylesheet" href="/static/css/style.css">
    <title>Trace</title>
    
   <style>
 
   </style>
    
  </head>
  
  <body>

<!--Navbar starts-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand custom-text" href="/home/">
    <img src="/static/img/ai2.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    Avunix
  </a>
  <button class="navbar-toggler custom-text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link custom-text" href="/home/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link custom-text dropdown-toggle custom-active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu custom-bg custom-border" aria-labelledby="navbarDropdown">
          <a class="dropdown-item custom-text" href="/money/">Money recoder</a>
          <div class="dropdown-divider custom-divider"></div>
          <a class="dropdown-item custom-text" href="/reminder/">Reminder</a>
          <div class="dropdown-divider custom-divider"></div>
          <a class="dropdown-item custom-text custom-active" href="/trace/">Traceoute</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-text" href="/certificate/">Certificate <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item">
        <a class="nav-link custom-text" href="/chatroom/">Chat Room <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
  <!-- Button trigger modal -->
<a type="button" class="nav-link custom-text" data-toggle="modal" data-target="#exampleModal">
  Logout
</a>
      </li>      
    </ul>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-bg custom-border">
      <div class="modal-header">
        <h5 class="modal-title custom-text" id="exampleModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-text">
        Logout if you want . Don't worry about data and records.
      </div>
      <div class="modal-footer custom-divider">
        <button type="button" class="custom-modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="button" href="/logout/" class="custom-modal-btn btn btn-primary">Logout me</a>
      </div>
    </div>
  </div>
</div>
</nav>
<!--Navbar ends-->


<!--Form starts-->
<div class="container custom-bg custom-border py-2 my-3">
  <div class="form-group ">
  <div class="row justify-content-center">
    <div class="col-sm-8 mt-2">
      <input type="url" class="form-control  custom-bg custom-form-font custom-border" id="inputPassword" placeholder="Enter the URL ... ">
    </div>
    <div class="col-sm-2 mt-2">
     <button type="submit" class="btn btn-primary center-inline custom-submit-btn" id="trace-btn">Traceout</button>
    </div>
  </div>
</div>
</div>
<!--Form ends-->
  
  
<!--Table of trace starts-->
<div class="container custom-bg custom-border my-3 p-1">
<div class="table-responsive">
<table class="table" id="result">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Technoloy</th>
      <th scope="col">Properties</th>
    </tr>
    </thead>
 
  <tbody>
  </tbody>
</table>
</div>
</div>
<!--Table of trace ends-->  
  
    <script src="/static/js/jquery-3.5.1.slim.min.js" ></script>
    <script src="/static/js/popper.min.js" ></script>
    <script src="/static/js/bootstrap.min.js"></script>
  
 <script type="text/javascript">
  
    try{
   
    
  function traceroute(data){
    
    let result=document.querySelector("#result>tbody");
    
   let session=0;
    
    let htmlcode=``;
    
    for(key in data){
      
     for(frame of data[key]){
     
     if(session==0){
       session+=1;
     }
     
     else{
     key="";
     }
     
    htmlcode+=`
    <tr>
    <th>${key}</th>
    `;
    
     htmlcode+=`
    <td>${frame}</td>
     </tr>`;
     
     }
     
      htmlcode+=`</tr>`;
  session=0;
    }
    
    
    result.innerHTML=htmlcode;
    
  }
  
    let fromBtn=document.querySelector('#trace-btn');

    fromBtn.addEventListener("click",function (){
    
        
    let urlInput=document.querySelector('input').value;
    
    
  const xhr = new XMLHttpRequest();
  let url="/trace/data/?url="+urlInput;
  xhr.open("GET",url,true);
  xhr.send(); 
   xhr.onload=function (){
    let data=JSON.parse(this.responseText);
    traceroute(data);
   }
   
    });
        
  
    }
    
    catch(a){
    alert(a.name+" "+a.message)
    }  

 </script>
  
  </body>
  
</html>